.stack-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 1;
    padding:20px;
}
.stack-icon{
    padding:20px;
    width:fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap-reverse;
    border-radius: 0.65rem;
    border:1.5px solid #6852ba;
}

.stack-icon img{
    width:5rem;
    height:auto;
    transition: all 0.3s ease;
}

@media (max-width:1010px){
    .stack-icon{
        width:6rem;
    }

}
